<br><br><div class="jumbotron">
  <h1>Bem vindos!</h1>
  <p>Conheça nosso sistema de cadastro de alunos e aeronaves, clique abaixo para se acessar!</p>
  <p><a class="btn btn-success btn-lg" href="/models/sign_in" role="button">Entrar</a></p>
</div>

